.item {
  display: flex;
  align-items: center;

  padding: 10px;

  border: 1px solid #acabab;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.avatar {
  margin-left: 10px;

  width: 50px;
}

.name {
  margin-left: 10px;

  font-size: 25px;
}
