.section {
  background-color: #fff;
}

.title {
  text-align: center;
  padding: 15px 0;

  font-size: 20px;
}

.list {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 50px;
  min-height: 50px;
}

.label {
  font-size: 10px;
  color: #fff;
}

.percentage {
  font-size: 15px;
  color: #fff;
}
